<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="applicationServices" type="Common.Configuration.AppServicesConfiguration, Common" />
  </configSections>
  <applicationServices>
    <caching disabled="false">
      <profiles default="myDefault">
        <profile name="myDefault" slidingExpiration="60" />
        <profile name="anotherProfile" slidingExpiration="1" />
      </profiles>
    </caching>
  </applicationServices>
</configuration>